/* Global Styles */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 62.5% trick! so we can use relative units for font size*/
}

body {
    font-size: 1.6rem;
  }

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}